.ShoppingPageHeading{
    color: rgb(14, 2, 9);
    padding-top: 0.5%;
    text-align: center;
    font-size: 250%;
    font-family: Calibri;
}

#productDesc{
    color: rgb(49, 41, 41);
    font-weight: 950;
}

.CheckoutButton{
    background-color: #138dde;
    padding: 1% 2% 1% 2%;
    border-radius: 18px;
    font-size: 150%;
    margin-left: 40%;
    font-family: Calibri;
    color: white;
    cursor:pointer;
    border-color: #f3f3f3;
    font-weight: bold;

}

.CheckoutButton:hover{
    transform: scale(1.2);
    font-weight: bold;
}

.productBox{
    background-color: rgba(136, 138, 139, 0.272);
    font-weight: 900;
    padding: 1% 2% 1% 2%;
    margin: 1%;
    flex: 1%;
    font-size: 20px;
    width: 10%;
    display: inline-block;
    font-family: Calibri;
    
    border-radius: 18px;
    color: #138dde;
    
}

.productBox:hover{
    transform: scale(1.15);
    cursor: pointer;
    color: white;
    background-color: #138dde;

}



.Add-DelButton {
    font-size: 100%;
    padding: 10%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;

  }

.Add-DelButton:hover {
    background-color: rgb(144, 148, 160);
    cursor: pointer;
    transform: scale(1.3);
}

.HomepageButton {
    margin-left: 40%;
    border-radius: 25px;
    color: white;
    background-color: #138dde;
    font-size: 150%;
    padding: 1% 2% 1% 2%;
    border-color: #f3f3f3;

}

.CheckoutPage {
    margin-left: 28%;
    border-radius: 18px;
    width: 40%;
    border: 5px solid rgb(148, 133, 127);
    height:fit-content;
    padding: 1.5%;
    font-family: Calibri;
  }
  

.Heading-checkoutpage{
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 200%;
    font-family: Calibri;
    background-color: gainsboro;
    border-radius: 18px;
    font-weight: bold;
}

th, td{
    border: 1px solid black;
    font-family: Calibri;
    font-size: 150%;
    height: 1%;


  }

.table-Pcount{
    /* background-color: rgb(34, 107, 107); */
    text-align: center;
    width: 15%;
    word-wrap: break-word;


}
.table-Pname{
    width: 65%;
    word-wrap: break-word;
    padding-left: 20px;


}
.table-Pprice{
    /* text-align: center; */
    word-wrap: break-word;
    width: 20%;
    padding-left: 20px;
}

.Calc-checkoutpage{
    width: 100%;
    padding: 2%;
    cursor: pointer;
    margin-top: 2%;
    font-size: 150%;
    font-weight: bold;
    border-radius: 18px;
    border: 10px solid white;
    

}
.Calc-checkoutpage:hover{

transform: scale(1.05);
}


.Items-checkoutpage{
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: 150%;

} 

.billing-checkoutpage{
    margin-left: 70%;
    font-size: 150%;
    display: none;
}

.HomepageButton:hover {
    /* background-color: burlywood; */
    cursor:grab;
    transform: scale(1.2);
    font-weight: bold;
    border-width: 4px;
    background-color: #138dde;
    border-color: white;

}


.loader {
    border: 10px solid #f3f3f3; 
    border-top: 8px solid #138dde; /* Blue border on top */
    border-right: 8px solid #138dde; /* Blue border on top */


    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 45%;
    margin-top: 2%;
    display: none;

    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(180de);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .cloader {
    border: 10px solid #f3f3f3; 
    border-top: 8px solid #138dde; /* Blue border on top */
    border-right: 8px solid #138dde; /* Blue border on top */


    border-radius: 100%;
    width: 60px;
    height: 60px;
    margin-left: 45%;
    margin-top: 2%;
    display: none;

    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
  
@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
        transform: rotate(180de);
    }
    100% {
      transform: rotate(360deg);
    }
  }